<!DOCTYPE html>
<html>
<head>
  <title>Samurai</title>
  <%= stylesheet_link_tag    "samurai/application", media: "all" %>
  <%= javascript_include_tag "samurai/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ul>
      <li class="<%= active(samurai.root_path) %>"><%= link_to 'Home', samurai.root_path %></li>
      <% if current_user %>
        <li class="<%= active(samurai.edit_user_registration_path) %>"><%= link_to "Account", samurai.edit_user_registration_path %></li>
        <li><%= link_to "Logout", samurai.destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li class="<%= active(samurai.new_user_session_path) %>"><%= link_to "Login", samurai.new_user_session_path %></li>
        <li class="<%= active(samurai.new_user_registration_path) %>"><%= link_to "SignUp", samurai.new_user_registration_path %></li>
      <% end %>
    </ul>
  </nav>

  <% flash.each do |key, value| %>
     <div class="<%= flash_class(key.to_sym) %>"><%= value %></div>
  <% end %>

  <%= yield %>

</body>
</html>
