<%= form_with(model: [samurai, contact], local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :first_name %>
  <%= form.text_field :first_name %>

  <%= form.label :last_name %>
  <%= form.text_field :last_name %>

  <%= form.label :company %>
  <%= form.text_field :company %>

  <%= form.label :email %>
  <%= form.email_field :email %>

  <%= form.label :phone %>
  <%= form.text_field :phone %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
