<h1>Contacts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Company</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= link_to 'Show', [samurai, contact] %></td>
        <td><%= link_to 'Edit', samurai.edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', [samurai, contact], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= contact.id %></td>
        <td><%= contact.first_name %></td>
        <td><%= contact.last_name %></td>
        <td><%= contact.company %></td>
        <td><%= contact.email %></td>
        <td><%= contact.phone %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', samurai.new_contact_path %>
