<p id="notice"><%= notice %></p>

<h2><%= @contact.first_name %></h2>
<div>
 <div>
   <strong>First Name:</strong>
   <%= @contact.first_name %>
   <br/>
   <strong>Last Name:</strong>
   <%= @contact.last_name %>
   <br/>
   <strong>Company:</strong>
   <%= @contact.company %>
   <br/>
   <strong>Email:</strong>
   <%= @contact.email %>
   <br/>
   <strong>Phone:</strong>
   <%= @contact.phone %>
</div>
</div>

<%= link_to 'Edit', samurai.edit_contact_path(@contact) %> |
<%= link_to 'Back', samurai.contacts_path %>
